/*index*/

body
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;

    text-transform: uppercase;

    color: #000;
    background-color: #f2f2f2;
}

.container
{
    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.visually-hidden
{
    font-size: 0;

    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.site-navigation__item a:hover,
.site-navigation__item a:focus
{
    color: #81b3d2;
}

.site-navigation__item a:active
{
    color: #cacaca;
}

.site-navigation__item a
{
    text-decoration: none;

    color: #000;
}

.site-navigation
{
    font-weight: bold;
    line-height: 26px;

    color: #000;
}

.site-navigation__item
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20%;
}

.site-navigation__item--item-1
{
    text-align: left;
}

.site-navigation__item--item-2
{
    text-align: right;
}

.site-navigation__item:nth-child(4n - 2)
{
    margin-right: 240px;
}

.site-navigation__item:nth-child(4n - 2),
.site-navigation__item:nth-child(4n - 3)
{
    padding-left: 72px;

    text-align: left;
}

.site-navigation__item:nth-child(4n - 1),
.site-navigation__item:nth-child(4n)
{
    padding-right: 72px;

    text-align: right;
}

.site-navigation ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin-top: 19px;
    padding-left: 0;

    list-style: none;
}

.logo
{
    position: relative;
    z-index: 1;

    display: block;

    width: 139px;
    height: 71px;
    margin-right: auto;
    margin-bottom: -75px;
    margin-left: auto;
}

.intro__image
{
    max-width: 459px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 77px;
    padding-bottom: 75px;
}

.intro__image img
{
    width: 100%;
}

.introduction
{
    position: relative;

    max-width: 1200px;
    margin: 0;

    background-color: #324e63;
    background-image: url(../img/jpeg-sedona/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -55px;
    background-size: cover;
}

.introduction::after
{
    position: absolute;
    bottom: -3px;

    width: 100%;
    height: 59px;

    content: '';

    background-image: url(../img/svg-sedona/intro-mask.svg);
    background-position: bottom;
    background-size: cover;
}

.introduction img
{
    background-repeat: no-repeat;
}

.slogan
{
    margin-top: 61px;
}

.slogan__header
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    max-width: 440px;
    margin-right: auto;
    margin-bottom: 27px;
    margin-left: auto;

    text-align: center;
}

.reasons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin-bottom: 52px;
    padding-left: 0;

    list-style: none;

    background-color: #eee;
}

.features
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding-left: 0;

    list-style: none;
}

.features__attraction
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 400px;
    padding-top: 56px;
    padding-bottom: 85px;
    padding-left: 0;
}

.features__header
{
    font-size: 21px;
    line-height: 21px;

    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 23px;

    text-align: center;

    color: #000;
}

.features__header::before
{
    display: block;

    width: 75px;
    height: 72px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    content: '';

    background-image: url(../img/svg-sedona/icon-1.svg);
    background-repeat: no-repeat;
}

.features__header--2::before
{
    background-image: url(../img/svg-sedona/icon-3.svg);
}

.features__header--3::before
{
    height: 76px;
    margin-left: 20px;

    background-image: url(../img/svg-sedona/icon-2.svg);
}

.features__description
{
    line-height: 21px;

    max-width: 285px;
    margin: 0;

    text-align: center;

    color: #333;
}

.slogan__reasons
{
    line-height: 26px;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;

    width: 490px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    color: #333;
}

.reasons__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 166px;
    padding-left: 0;

    background-color: #eee;
}

.reasons__item > img
{
    height: auto;

    -o-object-fit: cover;

       object-fit: cover;
}

.reasons__item--mod
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 400px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.reasons__item--mod-2
{
    margin-top: -3px;
}

.reasons__item--mod-2 img
{
    height: auto;

    -o-object-fit: cover;

       object-fit: cover;
}

.reasons__item .features
{
    background-color: #fff;
}

.reasons__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-width: 400px;
    padding-top: 45px;
    padding-bottom: 45px;

    text-align: center;

    background-color: #81b3d2;
}

.reasons__header
{
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

    max-width: 158px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 26px;

    text-align: center;
}

.reasons__header--color
{
    margin-top: 3px;
    margin-bottom: 26px;

    color: #fff;
}

.reasons__contents
{
    line-height: 21px;

    position: relative;

    width: 302px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 23px;

    text-align: center;

    color: #333;
}

.reasons__contents-1
{
    width: 300px;
}

.reasons__contents-2
{
    width: 285px;
}

.reasons__contents-3
{
    width: 279px;
}

.reasons__contents-4
{
    width: 259px;
}

.reasons__number
{
    display: block;
}

.reasons__contents--color
{
    color: #fff;
}

.appointment
{
    text-align: center;
}

.appointment__intro
{
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;

    margin-bottom: 23px;
}

.appointment__info
{
    line-height: 24px;

    max-width: 435px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 46px;
    margin-left: auto;

    color: #333;
}

.dates
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.date
{
    font-weight: bold;

    position: relative;

    margin-bottom: 26px;
}

.date1
{
    font-weight: bold;

    position: relative;

    margin-bottom: 30px;
}

.calendar
{
    position: absolute;
    top: 1px;
    right: 1px;

    width: 38px;
    height: 44px;
    padding: 0;

    border: 0;
    background-color: transparent;
}

.calendar:hover > svg,
.calendar:focus > svg
{
    fill: #000;
}

.calendar:active > svg
{
    fill: #81b3d2;
}

.element1
{
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #766357;
}

.element1__index
{
    font-size: 21px;
    line-height: 26px;

    position: relative;
    z-index: 1;

    display: block;

    padding-top: 31px;
    padding-bottom: 28px;
}

.element1:hover,
.element1:focus
{
    background: #604e43;
}

.element1:active
{
    color: rgba(255, 255, 255, .3);
    background: #503e33;
}

.modal__wrapper
{
    position: relative;

    width: 100%;
    max-width: 568px;
    margin: 0 auto;
}

.modal
{
    position: absolute;

    max-width: 568px;

    -webkit-animation-name: slide;

            animation-name: slide;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;

    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);
            box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);
}

@-webkit-keyframes slide
{
    0%
    {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
    }

    20%
    {
        -webkit-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    40%
    {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }

    60%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes slide
{
    0%
    {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
    }

    20%
    {
        -webkit-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    40%
    {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }

    60%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

.modal-js
{
    display: none;
}

.modal form
{
    padding: 55px;
    padding-right: 54px;
    padding-left: 55px;
}

.modal__info-input
{
    font-weight: bold;
    line-height: 26px;

    position: relative;

    width: 330px;
    height: 38px;
    padding-left: 15px;

    text-transform: uppercase;

    border: 0;
    background: #f2f2f2;
}

.modal__info-input:focus
{
    -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
            box-shadow: inset 0 0 0 2px #e5e5e5;
}

.modal__info-input-1
{
    margin-left: 16px;
}

.modal__info-input-1::-ms-clear
{
    width: 0;
    height: 0;
}

.modal__info-input-2
{
    width: 330px;
    margin-left: 14px;
    padding-left: 14px;
}

.modal__info-input-2::-ms-clear
{
    width: 0;
    height: 0;
}

.modal__info-input-adult
{
    width: 38px;
    height: 38px;
    padding: 0;
    padding-right: 38px;
    padding-left: 38px;

    text-align: center;

    border: 0;
}

.modal__info-input-child
{
    width: 38px;
    height: 38px;
    padding: 0;
    padding-right: 38px;
    padding-left: 38px;

    text-align: center;

    border: 0;
}

.modal__info-input:hover
{
    background: #ebebeb;
}

.modal__info-input:focus
{
    background: #fff;
}

.modal__info-input[type=number]
{
    -moz-appearance: textfield;
}

.modal__info-button
{
    font-size: 23px;
    font-weight: bold;
    line-height: 37px;

    position: absolute;
    z-index: 1;

    width: 38px;
    height: 38px;

    color: #a9a9a9;
    border: 0;
    background-color: transparent;
}

.minus-button
{
    left: 0;
}

.plus-button
{
    top: 1px;
    right: 0;
}

.modal__info-button:hover,
.modal__info-button:focus
{
    color: #000;
    background: none;
}

.modal__info-button:active
{
    color: #81b3d2;
}

.counters
{
    font-weight: bold;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.adult__counter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.adult__wrapper
{
    position: relative;

    margin-left: 41px;
}

.children__wrapper
{
    position: relative;

    margin-left: 16px;
}

.children__counter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding-left: 53px;
}

.children__counter label
{
    margin-right: 11px;
}

.modal__info-input::-webkit-inner-spin-button,
.modal__info-input::-webkit-outer-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

.element2
{
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #81b3d2;
}

.element2__index
{
    font-size: 21px;
    line-height: 26px;

    width: 100%;
    min-height: 58px;
    margin-top: 54px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 1px;

    text-align: center;

    border: 0;
}

.map
{
    min-height: 593px;

    background-color: #ffefd5;
    background-image: url(../img/png-sedona/map.png);
}

.element2:hover,
.element2:focus
{
    background: #669ec0;
}

.element2:active
{
    color: rgba(255, 255, 255, .3);
    background: #5496bd;
}

footer a
{
    line-height: 26px;

    text-decoration: none;

    color: #000;
}

.main-footer
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-height: 126px;
    margin-top: -123px;

    background-color: rgba(255, 255, 255, .9);
}

.main-footer__hashtag
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    margin-left: 133px;
    padding-bottom: 7px;
}

.social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    max-width: 500px;
    padding-bottom: 7px;
    padding-left: 33px;
}

.social li
{
    margin-right: 6px;

    list-style: none;
}

.social__button
{
    display: block;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social__button:hover,
.social__button:focus
{
    background-color: #669ec0;
}

.social__button:active
{
    background-color: #5496bd;
}

.social__button:active path
{
    opacity: .3;
}

.social__button svg
{
    width: 20px;
    height: 20px;
    padding-top: 14px;
    padding-right: 13px;
    padding-bottom: 14px;
    padding-left: 13px;
}

.copyright
{
    margin-right: 100px;
    margin-bottom: 24px;
    padding-bottom: 5px;
}

.copyright svg
{
    position: relative;
    top: 15px;

    width: 120px;
    height: 40px;
    padding-left: 0;
}

.copyright:hover path,
.copyright:focus path
{
    fill: #81b3d2;
}

.copyright:active path
{
    fill: #bdbbbc;
}

/*inner*/

.site-navigation__item.site-navigation__item--item-inner a
{
    color: #766357;
}

.accomodation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    min-height: 150px;
    padding-right: 70px;
    padding-left: 70px;

    border-bottom: 1px solid #e5e5e5;
}

.accomodations__picture
{
    margin-top: 1px;
    margin-left: 3px;
}

.accomodation-features
{
    line-height: 21px;

    min-height: 217px;

    color: #fff;
    background-color: #324e63;
    background-image: url(../img/jpeg-sedona/blurried-background.jpg);
    background-repeat: no-repeat;
    background-position-y: -55px;
}

.type-price
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 5px;
    margin-bottom: 15px;
}

.reference
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 257px;
}


.hotel-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

    padding-top: 26px;
    padding-bottom: 19px;
}

.accomodation-features form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.accomodations-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.accomodation-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 70px;
}

.wrapper2
{
    margin-left: 118px;
}

.option--item
{
    position: relative;
    top: 7px;

    margin-bottom: 25px;
    margin-left: 42px;
}

input:focus + label
{
    outline: auto;
}

.item-mod
{
    margin-left: 44px;
}

.option--item::before
{
    position: absolute;
    top: -2px;
    left: -39px;

    width: 27px;
    height: 23px;

    content: '';

    background-image: url(../img/svg-sedona/checkbox-off.svg);
    background-repeat: no-repeat;
}

.option--check:checked + .option--item::before
{
    position: absolute;
    top: -2px;
    left: -39px;

    width: 27px;
    height: 23px;

    content: '';

    background-image: url(../img/svg-sedona/checkbox-on.svg);
    background-repeat: no-repeat;
}

.option--check:disabled + .option--item::before
{
    background-image: url(../img/svg-sedona/checkbox-dis.svg);
}

.option--check:disabled:checked + .option--item::before
{
    background-image: url(../img/svg-sedona/checkbox-dison.svg);
}

.filter-range
{
    width: 318px;
    margin-top: 29px;
    margin-right: 72px;

    text-transform: uppercase;

    color: #fff;
}

.filter-range-title
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 9px;
}

.price-controls
{
    font-size: 0;

    position: relative;

    height: 32px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: #fff;
}

.price-controls label
{
    font-size: 14px;
    line-height: 31px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.price-controls .min-price
{
    width: 90px;
    padding-left: 65px;
}

.price-controls .max-price
{
    width: 90px;
    padding-left: 56px;
}

.price-controls input
{
    font: inherit;
    line-height: 21px;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls
{
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover,
.range-toggle:focus
{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.range-toggle-min
{
    left: 0;
}

.range-toggle-max
{
    left: 252px;
}

.btn-transparent
{
    font-size: 14px;
    line-height: 20px;

    display: block;

    margin-left: 85px;
    padding-top: 7px;
    padding-right: 34px;
    padding-bottom: 5px;
    padding-left: 34px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.btn-transparent:hover,
.btn-transparent:focus
{
    color: #000;
    background: #fff;
}

.options
{
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;

    margin-top: 29px;
    margin-bottom: 17px;
    margin-left: 2px;
}

.accomodation-type
{
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;

    margin-top: 29px;
    margin-bottom: 17px;
    margin-left: 2px;
}

.results
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    max-width: 1200px;
    padding-right: 70px;
    padding-bottom: 8px;
    padding-left: 70px;

    border-bottom: 1px solid #e5e5e5;
}

.results__number
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    margin-top: 32px;
    margin-right: 48px;
    margin-left: 2px;
}

.results__sort
{
    font-size: 12px;
    line-height: 18px;

    margin-right: 40px;
}

.results ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 450px;
}

.results-buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: auto;

    color: #cacaca;
}

.sorting-label
{
    padding: 5px;

    color: #cacaca;
}

.sorting-label:hover,
.sorting-label:focus
{
    color: #231f20;
}

.sorting-label:active
{
    color: #81b3d2;
}

.accomodation__content
{
    width: 258px;
    margin-left: 30px;
}

.accomodation__content h2
{
    margin: 0;
    margin-top: -4px;
}

.accomodations__price
{
    margin-left: 0;
}

.raitings
{
    margin-left: auto;
}

.stars
{
    margin-top: -4px;
    margin-bottom: 44px;

    text-align: right;
}

.stars__item img
{
    padding-left: 3px;
}

.results__options
{
    padding-left: 0;
}

.results__options li
{
    margin-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;

    list-style: none;
}

.sort-label
{
    font-size: 12px;

    text-decoration: none;

    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sort-label:hover,
.sort-label:focus
{
    color: #81b3d2;
}

.sort-label:active
{
    color: #000;
    border-bottom: none;
}

.active,
.active:hover,
.active:active
{
    color: #81b3d2;
    border-bottom: none;
}

.accomodations
{
    line-height: 21px;
}

.accomodations__header
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    text-decoration: none;

    color: #000;
}

.accomodations__type
{
    display: block;

    width: 116px;
}

.accomodations__header:hover,
.accomodations__header:focus
{
    color: #81b3d2;
}

.accomodations__header:active
{
    color: #cacaca;
}

.accomodations__raiting
{
    line-height: 21px;

    min-width: 110px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;

    color: #666;
    background: #f2f2f2;
}

.element2__inner
{
    font-size: 14px;
    line-height: 21px;

    width: 76px;
    padding-top: 3px;
    padding-right: 18px;
    padding-bottom: 3px;
    padding-left: 15px;
}

.element1__inner
{
    font-size: 14px;

    width: 108px;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 18px;
}

.accomodations__header
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.main-footer--inner
{
    margin-top: 0;

    background-color: #fff;
}
