body {
    padding: 0;
    margin: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation__item a:hover {
    color: #81b3d2;
}

.site-navigation__item a:active {
    color: #cacaca;
}

.site-navigation__item a {
    text-decoration: none;
    color: #000000;
}

.site-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.site-navigation ul {
    list-style: none;
}

.introduction {
    background-color: #324e63;
    background-image: url(../img/jpeg-sedona/background.jpg);
    background-repeat: no-repeat;
}

.introduction img {
    max-width: 459px;
    height: auto;
    background-repeat: no-repeat;
}

.slogan__header {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.reasons {
    list-style: none;
}

.features {
    list-style: none;
}

.features__header {
    color: #000000;
}

.features__description {
    color: #333333;
}

.slogan__reasons {
    line-height: 26px;
    color: #333333;
}

.reasons__item {
    background-color: #eeeeee;
}

.reasons__item .features {
    background-color: #ffffff;
}

.reasons__wrapper {
    background-color: #81b3d2;
}

.reasons__header {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.reasons__header--color {
    color: #ffffff;
}

.reasons__contents {
    line-height: 21px;
    color: #333333;
}

.reasons__contents--color {
    color: #ffffff;
}

.appointment__intro {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.appointment__info {
    line-height: 24px;
    color: #333333;
}

.element1 {
    background: #766357;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.element1__index {
line-height: 26px;
font-size: 21px;
}

.element1:hover {
    background: #604e43;
}

.element1:active {
    background: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.modal__info-input {
    background: #f2f2f2;
    font-weight: bold;
    line-height: 26px;
}

.modal__info-input:hover {
    background: #ebebeb;
}

.modal__info-input:focus {
    background: #ffffff;
}

.modal__info-button {
    background: #f2f2f2;
    color: #a9a9a9;
}

.modal__info-button:hover {
    color: #000000;
}

.modal__info-button:active {
    color: #81b3d2;
}


.element2 {
    background: #81b3d2;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.element2__index {
font-size: 21px;
line-height: 26px;
}

.element2:hover {
    background: #669ec0;
}

.element2:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

footer a {
    text-decoration: none;
    color: #000000;
    line-height: 26px;
}

.main-footer__hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

/*--------------inner----------------*/

.accomodation-features {
    background-color: #324e63;
    background-image: url(../img/jpeg-sedona/blurried-background.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 21px;
}

.options {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.accomodation-type {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.button-inner {
    background: transparent; 
    font-size: 14px;
    line-height: 21px;
    color: #ffffff; 
    text-transform: uppercase;
}

.button-inner:hover {
    background: #ffffff;
    color: #000000;
}

.results__number {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.results__sort { 
    font-size: 12px;
    line-height: 18px;
}

.sort-label {
    color: #cacaca;
    font-size: 12px;
    border-bottom: 1px dotted #81b3d2;
}

.sort-label:hover {
    color: #81b3d2;
}

.sort-label:active {
    color: #000000;
    border-bottom: none;
}

.accomodations {
    line-height: 21px;
}

.accomodations__header {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.accomodations__header:hover {
    color: #81b3d2;
}

.accomodations__header:active {
    color: #cacaca;
}

.accomodations__raiting {
    color: #666666;
    line-height: 21px;
    background: #f2f2f2;
}

.element2_inner {
Font-size: 14px;
Line-height: 21px;
}

.element1__inner {
line-height: 21px;
}

.accomodations__header {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

